Airtable record update.blueprint.json
{
    "name": "Airtable record update",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1615711,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "My gateway-webhook webhook",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "airtable:ActionGetRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 6438185
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.action}}",
                                            "o": "text:equal",
                                            "b": "analyse_image"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "apps2zipc3tlAtouX",
                                "useColumnId": false,
                                "table": "tbllhKN4V93l6EwSW",
                                "id": "{{1.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable Token or Key connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "MAKE.COM"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Table 2"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "A Post URL",
                                        "label": "A Post URL",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Analyse images",
                                        "label": "Analyse images",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Image analysis",
                                        "label": "Image analysis",
                                        "type": "text",
                                        "multiline": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 6438185
                            },
                            "mapper": {
                                "base": "apps2zipc3tlAtouX",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tbllhKN4V93l6EwSW",
                                "id": "{{4.id}}",
                                "record": {
                                    "fldFaXxNfDtnAt3EN": "Image Analysed"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable Token or Key connection (User ID: usrOBtLFcU75xk90E)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "MAKE.COM"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "Table 2"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fldOItOlvCQll3J2f",
                                                "type": "text",
                                                "label": "A Post URL"
                                            },
                                            {
                                                "name": "fldFaXxNfDtnAt3EN",
                                                "type": "text",
                                                "label": "Image analysis"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "A Post URL",
                                        "label": "A Post URL",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Analyse images",
                                        "label": "Analyse images",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Image analysis",
                                        "label": "Image analysis",
                                        "type": "text",
                                        "multiline": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "airtable:ActionGetRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 6438185
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.action}}",
                                            "o": "text:equal",
                                            "b": "generate_content"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "apps2zipc3tlAtouX",
                                "useColumnId": false,
                                "table": "tbllhKN4V93l6EwSW",
                                "id": "{{1.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 553,
                                    "y": 238
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable Token or Key connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "MAKE.COM"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Table 2"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "A Post URL",
                                        "label": "A Post URL",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Analyse images",
                                        "label": "Analyse images",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Image analysis",
                                        "label": "Image analysis",
                                        "type": "text",
                                        "multiline": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 6438185
                            },
                            "mapper": {
                                "base": "apps2zipc3tlAtouX",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tbllhKN4V93l6EwSW",
                                "id": "{{8.id}}",
                                "record": {
                                    "fldLF6AuIfDk2jc95": "content generated"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 853,
                                    "y": 238
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable Token or Key connection (User ID: usrOBtLFcU75xk90E)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "MAKE.COM"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "Table 2"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fldOItOlvCQll3J2f",
                                                "type": "text",
                                                "label": "A Post URL"
                                            },
                                            {
                                                "name": "fldFaXxNfDtnAt3EN",
                                                "type": "text",
                                                "label": "Image analysis"
                                            },
                                            {
                                                "name": "fldLF6AuIfDk2jc95",
                                                "type": "text",
                                                "label": "Content generation"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "A Post URL",
                                        "label": "A Post URL",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Analyse images",
                                        "label": "Analyse images",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Image analysis",
                                        "label": "Image analysis",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Generate content",
                                        "label": "Generate content",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Content generation",
                                        "label": "Content generation",
                                        "type": "text",
                                        "multiline": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}